/* @group ----- 01. Container Elements ----- */

body {
    position: relative;
    padding-top: 0;

    &.open {
        left: auto;
        right: 0;

        &:after {
            content: none;
        }
    }

    &.small {
        padding-top: 0;
    }
}

/* @end */

/* @group ----- 02. Text Elements ----- */

#intro h1 {
    font-size: 3 * $base-font-size;
    line-height: 3 * $base-line-height;
}

/* @end */

/* @group ----- 04. Navigation ----- */

#content nav {
    width: span(3 of 12);
    float: left;
    margin-right: gutter();
}

/* @end */

/* @group ----- 05. Header ----- */

header {
    text-align: right;
    position: relative;
}

.open header {
    left: auto;
    right: auto;

    &:after {
        content: none;
    }
}

.small header {
    height: auto;
    position: relative;
}

.logo,
.small .logo {
    float: left;
    height: rhythm(1.5);
    width: rhythm(8.25);
}

nav#global {
    display: inline-block;
    height: rhythm(1.5);
    vertical-align: bottom;
    text-align: right;

    li:last-child a {
        background-color: $primary-red;
        color: #fff;
        padding: rhythm(.25) rhythm(.5);
    }
}

nav#global .mobile-toggle {
    display: none;
}

#search {
    display: inline-block;
}

.search-toggle {
    display: inline-block;
    position: static;
    border: 0;
    height: auto;
    width: auto;
}

nav#global ul {
    position: relative;
    margin: 0;
    display: block !important;
    padding: 0;
    left: auto;
    right: auto;
    border-right: 0;
}

nav#global li {
    display: inline-block;
    margin: rhythm(.5) 0 0 rhythm(.5);

    &:not(:last-child) {
        border-bottom: 0;
        padding-bottom: 0;
    }
}

/* @end */

/* @group ----- 06. Footer ----- */

footer nav {
    width: 100%;
}

footer nav img {
    max-height: rhythm(1.5);
}

footer .menu-footer-container {
    margin-top: 0;
}

footer .neh {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    max-width: 60%;
}

footer img {
    max-width: none;
}

footer .license {
    width: span(6 of 12);
    padding: 0 gutter();
}

footer .container {
    display: flex;
    align-items: center;
    padding-bottom: rhythm(2);
    justify-content: space-between;
}

footer .container > a {
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
}

footer .neh > p {
    display: inline-block;
    margin: 0 0 0 rhythm();
    font-size: .875 * $base-font-size;
    vertical-align: top;
    max-height: rhythm(2);
    max-width: 60%;
}

footer .container > a:nth-child(3) {
    margin-right: rhythm();
}

footer .container img {
    max-height: rhythm(3.5);
    max-width: 100%;
    height: auto;
}

footer .container img[alt="Creative Commons License"] {
    height: auto;
}

/* @end */

/* @group ----- 07. Home ----- */

.home #intro {
    padding: 0 rhythm();
}

.home #intro .container > p {
    font-size: 3 * $base-font-size;
    line-height: 3 * $base-line-height;
}

.home #intro .container > a {
    font-size: 2 * $base-font-size;
    padding: rhythm(.5, 2 * $base-font-size);
}

#features {
    overflow: hidden;
    padding: rhythm(.5, 1.25 * $base-font-size) 0;
    font-size: $base-font-size;
    width: 100%;
}

.feature {
    width: span(4 of 12);
    float: left;
}

#features a {
    font-size: 2.5 * $base-font-size;
    line-height: 2 * $base-line-height;
    display: block;
}

.feature:not(:last-child) {
    margin-bottom: 0;
    border-bottom: 0;
}

#keep-up {
    vertical-align: top;
    display: flex;
    flex-wrap: wrap;
}

.home .container > #anniversary-row {
    flex-wrap: nowrap;
}

.home .container > #anniversary-row > a {
    width: span(4 of 12);  
}

#support {
    font-size: 1.5 * $base-font-size;
    line-height: 2 * $base-line-height;
    
    .button {
        font-size: 1.5 * $base-font-size;
        line-height: 2 * $base-line-height;
    }
}

/* @end */

/* @group ----- 08. Who We Are ----- */

#staff {
    width: calc(#{span(9 of 12)} - #{rhythm()});
    float: left;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    padding: rhythm() 0;
}

#staff h3 {
    width: 100%;
}

.person {
    width: 20%;
    padding-right: rhythm();
}

.person img {
    float: none;
    margin: 0 0 rhythm(.25);
}

/* @end */

/* @group ----- 09. What We Do ----- */

#projects {
    float: right;
    margin: 1.5rem 0;
}

#projects .section {
    margin-bottom: rhythm(2);
    border-color: $gray;
    @include trailing-border(1px, 0, $base-font-size, solid);
}

#projects .section,
#labs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#projects,
#labs {
    width: calc(#{span(9 of 12)} - #{gutter()});
    margin: rhythm(2) 0;

    & > *:first-child {
        margin-top: 0;
    }
}

#projects .project {
    width: span(3 of 9);
    padding: 0 gutter();
}

#projects .project:nth-of-type(3n+1) {
    padding-left: 0;
}

#projects .project:nth-of-type(3n) {
    padding-right: 0;
}

.project img {
    max-width: 100%;
}

    /* @group ----- 09a. Project ----- */

    .page-template-project #intro + .container {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #project-meta {
        width: span(2 of 9);
    }

    #project-description {
        width: span(5 of 9);
    }

    /* @end */

/* @end */

/* @group ----- 10. Who We Work With ----- */

.collaborations {
    overflow: hidden;
}

.collab-type {
    width: span(6 of 12);
    padding: rhythm();
    float: left;

    &:first-of-type {
        padding-left: 0;
    }

    &:last-of-type {
        padding-right: 0;
    }
}

.collab-type:last-of-type:after {
    content: "";
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}

    /* @group ----- 10a. Author page ----- */

    .author h1 {
        text-align: left;
    }

    .author .avatar {
        width: 15%;
        float: left;
        margin: 0 rhythm() rhythm() 0;
    }

    #staff-meta {
        overflow: hidden;
        width: calc(85% - #{rhythm()});
        float: right;
    }

    #staff-meta .field {
        text-align: left;
        display: block;
    }

    #staff-meta .description.field {
        @include leading-border(0px, 0, $base-font-size, solid);
    }

    #staff-projects {
        clear: both;
        display: flex;
        flex-wrap: wrap;
    }

    #staff-projects h2 {
        width: 100%;
    }

    #staff-projects .project {
        width: 24%;
        margin-right: 1%;
    }

    #staff-projects .project img {
        width: 100%;
    }

    /* @end */

/* @end */

/* @group ----- 11. Our Story ----- */

.page-template-about #intro + .container {
    display: flex;
}

#about-nav {
    width: span(3 of 12);
    padding-right: gutter();
    margin-right: gutter();
}

#about-nav + section {
    width: span(9 of 12);
}

#about-nav + section > *:first-child {
    margin-top: 0;
}

/* @end */

/* @group ----- 12. News ----- */

.post {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.post h1 {
    padding: 0;
}

.post-meta {
    width: span(4 of 16);
    padding: 0 span(.5 of 16) 0 gutter();
    text-align: right;
}

.post-meta .avatar {
    display: block;
    margin-bottom: rhythm(.5);
}

.post-meta .avatar img {
    width: 50%;
    height: auto;
    border-radius: 100%;
}

.post-meta .date {
    display: block;
    font-size: 1.5 * $base-font-size;
    line-height: 2 * $base-line-height;
    background-color: $gray;
    margin-bottom: rhythm(.5, 1.5 * $base-font-size);
    padding: 0 rhythm(.25, 1.5 * $base-font-size);
}

.post-meta > img {
    height: auto;
}

.post article {
    width: span(12 of 16);
    padding: 0 gutter();
}

.post + .pagination {
    width: span(12 of 16);
    margin-left: span(4 of 16);
    padding: 0 gutter();
}

.post + .pagination .page-numbers {
    padding: rhythm(.25);
    min-width: rhythm(1.5);
    display: inline-block;
    text-align: center;
    background-color: $gray;
}

.post + .pagination a.page-numbers {
    color: $primary-red;
    border: 0;
}

/* @end */

/* @group ----- 13. Essays ----- */

.single-essay #intro + .container {
    padding: rhythm() 20%;
}

.essays {
    width: calc(#{span(9 of 12)} - #{gutter()});
    padding: rhythm() 0 rhythm() gutter();
    float: right;
}

/* @end */

/* @group ----- 14. Search Results ----- */

.search-results .post {
    margin-bottom: rhythm(2);
}

/* @end */