/* @group ----- 01. Container elements ----- */

* {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: #656565;
}

body {
    margin: 0;
    padding: 0;
    transition: left .5s, right .5s;
    left: 0;
    right: 0;
    position: absolute;
    overflow-x: hidden;
    padding-top: rhythm(4);

    &.open {
        left: 75%;
        right: -75%;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(0,0,0,.6);
        }
    }

    &.small {
        padding-top: rhythm(2);
    }
}

img {
    max-width: 100%;
}

#content,
.container {
    @include container($container-width);
    padding: rhythm();
}

#intro {
    padding: rhythm() 0;
    text-shadow: 0 0 20px #fff;
    position: relative;
    border-bottom: 1px solid $gray;

    &:before {
        content: "";
        background-size: cover;
        background-position: top center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: .25;
        background-color: #000;
    }
}

#intro .container > * {
    position: relative;
    z-index: 1;
}

.alignleft {
    float: left;
    margin: 0 rhythm() rhythm() 0;
    clear: left;
}

.alignright {
    float: right;
    margin: 0 0 rhythm() rhythm();
    clear: right;
}

thead tr {
    background-color: $gray;
    text-align: left;
}

table {
    margin: rhythm() 0;
}

table caption {
    margin-bottom: rhythm(.5);
    font-weight: bold;
}

th,
td {
    padding: rhythm(.25);
}

tbody tr:nth-of-type(2n) {
    background-color: lighten($gray, 50%);
}

/* @end */

/* @group ----- 02. Text elements ----- */

a {
    color: $primary-red;
    text-decoration: none;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 2 * $base-font-size;
    line-height: 2 * $base-line-height;
    margin: 0 0 0 rhythm(-.25, 2 * $base-font-size);
    color: $primary-blue;
    background-color: #fff;
    padding: rhythm(.25, 2 * $base-font-size);
    display: inline-block;
    text-shadow: none;
}

h2 {
    font-size: 1.75 * $base-font-size;
    line-height: 2 * $base-line-height;
}

h3 {
    font-size: 1.125 * $base-font-size;
    line-height: $base-line-height;
    margin: 0 0 rhythm(1, 1.125 * $base-font-size);
}

p,
ul {
    margin: rhythm() 0;
}

hr {
    height: 0;
    margin: rhythm() 0;
    border: 0;
    width: 100%;
    clear: both;
}

blockquote {
    background-color: $gray;
    margin: rhythm() 0;
    padding: rhythm();
    position: relative;
    clear: both;

    &:before {
        content: $fa-var-quote-left;
        font-family: "FontAwesome";
        font-size: 3 * $base-font-size;
        position: absolute;
        color: #ccc;
        top: 0;
        left: rhythm(-.25, 3 * $base-font-size);
    }

    &:after {
        content: $fa-var-quote-right;
        font-family: "FontAwesome";
        font-size: 3 * $base-font-size;
        color: #ccc;
        position: absolute;
        bottom: 0;
        right: rhythm(-.25, 3 * $base-font-size);
    }
}

#intro h1 em {
    font-style: normal;
    text-transform: uppercase;
}

#intro p {
    font-size: 1.5 * $base-font-size;
    line-height: 2 * $base-line-height;
}

.wp-caption-text,
caption {
    font-size: .875 * $base-font-size;
    margin: 0 0 rhythm(1, .875 * $base-font-size);
}

.preface {
    padding-bottom: rhythm();
    margin-bottom: rhythm();
}

/* @end */

/* @group ----- 03. Form elements ----- */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea {
    border-color: $gray;
    @include rhythm-borders(1px, .25, $base-font-size, solid);
    font-size: $base-font-size;
    line-height: $base-line-height;
}

.button,
button,
input[type="submit"] {
    background-color: $primary-red;
    padding: rhythm(.25) rhythm(.5);
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    display: inline-block;

    &.big {
        font-size: 1.5 * $base-font-size;
        padding: rhythm(.5, 1.5 * $base-font-size);
   }
}

select {
    appearance: none;
    border: 1px solid $gray;
    padding: rhythm(.25) rhythm(1.5) rhythm(.25) rhythm(.25);
    border-radius: 3px;
    font-family: "Open Sans", sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background: #fff url("img/select-arrow.svg") no-repeat;
    background-position: right 6px center;
    background-size: .5 * $base-font-size;
}

#intro .button {
    text-shadow: none;
    text-transform: uppercase;
    font-size: 1.5 * $base-font-size;
    padding: rhythm(.25, 1.5 * $base-font-size) rhythm(.5, 1.5 * $base-font-size);

    &:after {
        content: $fa-var-long-arrow-right;
        font-family: "FontAwesome";
        margin-left: rhythm(.25, 1.5 * $base-font-size);
    }
}

/* @end */

/* @group ----- 04. Navigation ----- */

nav ul {
    padding-left: 0;
    list-style-type: none;
}

#content nav {
    background-color: $primary-red;
    color: #fff;
    padding: rhythm();
    margin-top: rhythm();
}

#content nav h2 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1.5 * $base-font-size;
}

#content nav a {
    color: lighten($primary-red, 50%);
}

#content nav ul {
    margin-bottom: 0;
}

#content nav > ul > li {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 1.25 * $base-font-size;
    margin-bottom: rhythm(1, 1.25 * $base-font-size);
    font-weight: 300;

    &:last-of-type {
        margin-bottom: 0;
    }
}

#content nav > ul > li ul {
    text-transform: none;
    font-family: "Open Sans", sans-serif;
    font-size: $base-font-size;
}

#content nav .active a {
    font-weight: bold;
    color: #fff;
}

/* @end */

/* @group ----- 05. Header ----- */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include container($container-width);
    padding: rhythm();
    background-color: #fff;
    z-index: 9999;
    border-bottom: 1px solid $gray;;
    transition: left .5s;
}

.open header {
    left: 75%;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: -1px;
        background-color: rgba(0,0,0,.6);
    }
}

.small header {
    height: rhythm(2);
    padding: rhythm(.5) rhythm()
}

.logo {
    height: rhythm(2);
    width: rhythm(11);
    background:url('img/rrchnm-logo.png') no-repeat;
    background-size: contain;
}

.small .logo {
    height: rhythm(1);
}

.logo a {
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    text-align: left;
    display: block;
}

nav#global .mobile-toggle:before {
    position: absolute;
    content: $fa-var-navicon;
    font-family: "FontAwesome";
    top: rhythm();
    right: rhythm();
    color: $primary-red;
    border: 1px solid $gray;
    padding: rhythm(.25);
    display: block;
    width: rhythm();
    text-align: center;
    background-color: #fff;
}

.small nav#global .mobile-toggle:before {
    top: rhythm(.25);
    padding: rhythm(.125);
}

.open nav#global .mobile-toggle:before {
    content: $fa-var-times;
    position: fixed;
    z-index: 10000;
}

nav#global a {
    font-weight: 700;
}

nav#global ul {
    margin: rhythm() 0 0;
    list-style-type: none;
    transition: right .5s, left .5s;
    position: fixed;
    top: 0;
    left: -75%;
    right: 100%;
    bottom: 0;
    background-color: rgba(255,255,255,1);
    padding: rhythm();
    z-index: 10000;
    margin: 0;
    border-right: 1px solid $gray;
}

nav#global li:not(:last-child) {
    border-color: $gray;
    @include trailing-border(1px, .25, $base-font-size, solid);
    margin-bottom: rhythm(.25);
}

nav#global ul.open {
    right: 25%;
    left: 0;
    z-index: 10000;
    border-right: 1px solid $gray;
}

/* @end */

/* @group ----- 06. Footer ----- */

footer {
    @include container($container-width);
    padding: rhythm(1, .875 * $base-font-size);
    border-top: 1px solid $gray;
    font-size: .875 * $base-font-size;
}

footer nav ul {
    margin: 0 0 rhythm();
}

footer img {
    max-height: rhythm(3);
    width: auto;
}

footer .logo {
    margin-bottom: rhythm(.25);
}

footer nav img {
    height: rhythm(2);
}

footer .neh {
    margin-bottom: rhythm();
}

footer .neh img {
    display: block;
    margin: auto;
}

footer #description {
    width: 100%;
    font-style: italic;
    text-align: center;
    color: $primary-blue;
}

/* @end */

/* @group ----- 07. Home ----- */

.home #intro {
    position: relative;

    &:before {
        background:url('img/intro-bg.png') top center no-repeat;
        background-size: cover;
    }
}

.home #intro .container > * {
    display: inline;
}

.home #intro p {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 2 * $base-font-size;
    line-height: 2 * $base-line-height;
    margin: 0 auto;
}

.home #intro .container > a {
    background-color: $primary-red;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    text-shadow: none;
    font-size: $base-font-size;
    padding: rhythm(.25) rhythm(.5);
    display: inline-block;
}

#features {
    background-color: $gray;
    padding: rhythm();
    text-align: center;
}

.feature:not(:last-child) {
    margin-bottom: rhythm();
    border-color: rgba(255,255,255,.15);
    @include trailing-border(1px, 1, $base-font-size, solid)
}

#features a {
    color: $primary-blue;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.75 * $base-font-size;
    display: block;
}

.hub-link {
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: 1.5 * $base-font-size;
    margin-bottom: rhythm(1, 1.5 * $base-font-size);
    border-bottom: 1px solid $gray;
    padding: 0 rhythm(1, 1.5 * $base-font-size) rhythm(1, 1.5 * $base-font-size);
    font-weight: 300;
    text-align: center;

    &:after {
        content: $fa-var-long-arrow-right;
        font-family: "FontAwesome";
        display: inline-block;
        margin-left: rhythm(.25, 1.5 * $base-font-size);
    }
}

#keep-up {
    overflow: hidden
}

#keep-up .twitter-icon,
#keep-up .facebook-icon {
    background-color: #fff;
    color: $primary-red;
    width: $base-line-height;
    height: $base-line-height;
    display: inline-block;
    margin: rhythm(.25) 0;
    text-align: center;
}

#keep-up .twitter-icon:before {
    content: $fa-var-twitter;
    font-family: "FontAwesome";
}

#keep-up .facebook-icon:before {
    content: $fa-var-facebook;
    font-family: "FontAwesome";
}

#keep-up .button {
    background-color: #fff;
    color: $primary-red;
}

#keep-up nav > ul > li {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: rhythm();
}

#keep-up nav ul > li > ul {
    text-transform: none;
    font-weight: normal;
}

/* @end */

/* @group ----- 08. Who We Are ----- */

#staff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#staff h3 {
    font-family: "Oswald", sans-serif;
    color: $primary-blue;
    width: 100%;
    font-weight: 300;
    position: relative;
    font-size: 1.5 * $base-font-size;
    text-shadow:
        -3px -3px 3px #fff,
        3px -3px 3px #fff,
        -3px 3px 3px #fff,
        3px 3px 3px #fff;
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 1px;
        background-color: $gray;
        z-index: -1;
    }

    &:after {
        content: "";
        display: inline-block;
        height: $base-line-height;
        width: .5em;
        background-color: #fff;
    }
}

.person {
    width: 45%;
    text-align: center;
    margin-bottom: rhythm(2);
    padding: 0 gutter();
    overflow: hidden;
}

.person .avatar {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    display: block;
    margin-bottom: rhythm(.5);
    background-size: cover;
    background-position: center center;
}

.person .avatar img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
    vertical-align: top;
    max-width: none;
}

    /* @group ----- 08a. Author page ----- */

    .author .avatar {
        width: 50%;
        height: auto;
        border-radius: 100%;
        margin: auto;
        display: block;
    }

    .author h1 {
        text-align: center;
        display: block;
        padding: 0;
    }

    #staff-meta {
        margin-bottom: rhythm();
    }

    #staff-meta .description.field {
        border-color: $gray;
        @include leading-border(1px, 1, $base-font-size, solid);
        margin-top: rhythm();
        text-align: left;
    }

    #staff-meta .field {
        display: block;
        text-align: center;
    }

    #staff-projects {
        clear: both;
    }

    #staff-projects img {
        width: 100%;
    }

    /* @end */

/* @end */

/* @group ----- 09. What We Do ----- */

#featured h3 {
    font-family: "Oswald", sans-serif;
    width: 100%;
    color: $primary-blue;
    font-weight: 300;
    position: relative;
    font-size: 1.5 * $base-font-size;
    text-shadow:
        -3px -3px 3px #fff,
        3px -3px 3px #fff,
        -3px 3px 3px #fff,
        3px 3px 3px #fff;
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 1px;
        background-color: $gray;
        z-index: -1;
    }

    &:after {
        content: "";
        display: inline-block;
        height: $base-line-height;
        width: .5em;
        background-color: #fff;
    }
}

.project .thumbnail {
    display: block;
    height: rhythm(4);
    width: 100%;
    overflow: hidden;
    background-color: $gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.project {
    margin: 0 0 rhythm(1.5);
}

.project h4 {
    margin: rhythm(.5) 0;
}

    /* @group ----- 09a. Project ----- */

    #project-meta {
        padding: rhythm() 0;
    }

    #project-meta .meta-field {
        margin-bottom: rhythm();
    }

    #project-meta h3 {
        margin-bottom: rhythm(.5, 1.125 * $base-font-size);
    }

    #project-meta .post-categories {
        padding-left: 0;
        list-style: none;
        margin: rhythm(.5) 0 rhythm(1.5);
    }

    #project-meta .post-categories li {
        list-style-type: none;
        margin-bottom: rhythm(.5);
    }

    #project-meta .post-categories li a {
        background-color: $primary-blue;
        color: #fff;
        display: inline-block;
        padding: rhythm(.25);
    }

    #project-contributors {
        margin-bottom: rhythm();
    }

    #project-contributors .avatar {
        display: block;
        width: 15%;
        padding-bottom: 15%;
        position: relative;
        margin-right: rhythm(.5);
    }

    #project-contributors .contributor {
        display: flex;
        align-items: center;
        align-content: flex-start;
        margin-bottom: rhythm(.5);
    }

    #project-contributors img {
        width: 100%;
        height: auto;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    /* @end */

/* @end */

/* @group ----- 10. Work With Us ----- */


.collab-type .entity {
    display: block;
    font-weight: bold;
}

.collab-type .project {
    font-style: italic;
}

form.wpcf7-form {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
}

.wpcf7-form .field-group {
    width: 100%;
    margin-bottom: rhythm();
}

.wpcf7-form .first-name.field-group,
.wpcf7-form .last-name.field-group {
    width: 49%;
}

.wpcf7-form .field-group input[type="text"],
.wpcf7-form .field-group input[type="email"],
.wpcf7-form .field-group textarea {
    width: 100%;
    margin-bottom: rhythm(.25);
}

.wpcf7-form .field-group textarea {
    margin-top: rhythm(.25);
}

.wpcf7-form-control-wrap.inquiry {
    display: inline-block;
}

.wpcf7-form label {
    font-weight: bold;
}

.wpcf7-list-item label {
    font-weight: normal;
}

/* @end */

/* @group ----- 11. Our Story ----- */

.page-template-about #intro {
    background-position: top;
}

.page-template-about .preface {
    background-color: $gray;
    padding: rhythm();
}

.page-template-about .preface h2 {
    margin: 0;
}

#about-nav ul {
    margin: 0;
}

#menu-about-us .current_page_item {
    font-weight: bold;
}

#menu-about-us > li {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 1.25 * $base-font-size;
    font-weight: 300;

    & > a {
        padding: rhythm(.25, 1.25 * $base-font-size);
        width: 100%;
        display: inline-block;
        height: rhythm(1.5, 1.25 * $base-font-size);
        border-color: $gray;
        @include trailing-border(2px, .25, 1.25 * $base-font-size, solid);
    }
}

#menu-about-us > li > ul {
    margin: 0;
}

#menu-about-us li li {
    font-family: "Open Sans", sans-serif;
    text-transform: none;
    font-size: $base-font-size;
    font-weight: normal;
    padding: rhythm(.25)
}

#menu-about-us li li:not(:last-of-type) {
    border-color: $gray;
    @include trailing-border(1px, .25, $base-font-size, solid);
}

#menu-about-us .menu-item-object-custom a:after {
    content: $fa-var-external-link;
    font-family: "FontAwesome";
    display: inline-block;
    margin-left: rhythm(.25);
}

/* @end */

/* @group ----- 12. News ----- */

.post-meta {
    font-family: "Oswald", sans-serif;
    color: #676767;
    font-weight: 300;
}

.post-meta .date {
    background-color: $gray;
    margin-bottom: rhythm(.5);
    padding: rhythm(.25);
}

.post article {
    margin-bottom: rhythm(2);
}

.post-meta .avatar img {
    display: inline-block;
    height: rhythm();
    width: auto;
    border-radius: rhythm();
    vertical-align: top;
}

#blog-meta {
    padding: 0 rhythm(.25);
    border-color: $gray;
    @include trailing-border(1px, .5, $base-font-size, solid);
    margin-bottom: rhythm();
    text-align: right;
    overflow: hidden;
}

#blog-meta label {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: $primary-blue;
    margin-right: rhythm(.25);
}

#blog-meta h1 {
    float: left;
    font-size: 1.75 * $base-font-size;
    line-height: $base-line-height;
}

/* @end */

/* @group ----- 13. Essay ----- */

.single-essay #intro {
    background-color: $primary-blue;
    height: auto;
    min-height: 0;
    padding: rhythm() gutter();
    text-align: center;
}

.single-essay #intro h1 {
    background-color: transparent;
    color: #fff;

    &:after {
        content: "";
        background-color: #fff;
        height: 2px;
        width: 100%;
        display: block;
        margin: rhythm(.5) 0;
    }
}

.single-essay #intro .container {
    position: relative;
    transform: none;
    left: 0;
}

.single-essay #intro span {
    color: #fff;
    text-shadow: none;
    margin: 0;
    display: block;
}

.single-essay #intro .essay-author {
    font-size: 1.25 * $base-font-size;
    margin-bottom: rhythm(.25, 1.25 * $base-font-size);
}

.single-essay .publication-note {
    border-color: $gray;
    @include rhythm-borders(1px, 1, $base-font-size, solid);
}

.post-type-archive-essay #content nav > ul {
    margin-top: 0;
}

.post-type-archive-essay #content nav > ul > li {
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-size: $base-font-size;
    text-transform: none;
}

/* @end */